
<%= form_with model: board, local: true do |f| %>
  <%= render 'shared/error_message', model: f.object %>
  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>          
  </div>
  <div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :board_image %>
    <%= f.file_field :board_image, onchange: 'previewImage()', class: 'form-control' %>
    <%= f.hidden_field :board_cache %> <br>
    <%= image_tag board.board_image.url, id: 'preview' %>
  </div>
  <%= f.submit class: "btn btn-primary", rows: 10 %>
<% end %>
